#include "winuser.h"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "src/example/manifest.manifest"
1 ICON "example.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Indifference Engine"
      VALUE "FileDescription", "Example Application"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "example"
      VALUE "LegalCopyright", "Indifference Engine"
      VALUE "OriginalFilename", "example.exe"
      VALUE "ProductName", "Example Application"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
